<form class="haunted">
    <span class="attribute-label">{{localize "HAUNTED.Character.Influence"}}: {{influence}}</span>
    <div class="influence-roll-row">
        <label class="attribute-label" for="effortSpent"> {{localize "HAUNTED.Dialogs.EffortSpent"}}:</label>
        <input class="number-field" name="effortSpent" type="number" value={{rollInfo.effortSpent}} />
        <span class="attribute-label"> / {{effort}}</span>
    </div>
     <div class="influence-roll-row">
        <label class="attribute-label">{{localize "HAUNTED.Dialogs.Helpers"}}:</label>
        <button class="adjust-button adjust-button-label add-helper">+</button>
    </div>
    <ul>
        {{#each rollInfo.helpers}}
        <li>
            <select name="helper-choice" data-index="{{this.index}}">
                {{selectOptions ../helperChoices selected=this.id nameAttr="key" labelAttr="label"}}
            </select>
            <input class="number-field" type="number" name="help-dice" data-index="{{this.index}}" value="{{this.count}}" data-dtype="Number"/>
            <span class="attribute-label">/ {{get_help_max this.id}} </span>
            <label class="attribute-label clickable" data-index="{{this.index}}"><i class="fas fa-trash"></i></label>
        </li>
        {{/each}}
    </ul>
    <button class="roll-influence">{{localize "HAUNTED.Dialogs.Roll"}}</button>
</form>