<form class="haunted roll-influence-dialog">
    <div class="haunted-attributes">
        <label class="attribute-name haunted-attribute-label" for="effortSpent"> {{localize "HAUNTED.Dialogs.EffortSpent"}}:</label>
        <input class="number-field" name="effortSpent" type="number" value={{rollInfo.effortSpent}} />
    </div>
     <div class="help-header">
        <label class="haunted-attribute-label">{{localize "HAUNTED.Dialogs.Helpers"}}:</label>
        <button class="adjust-button add-helper">+</button>
    </div>
    <ul class="helper-list">
        {{#each rollInfo.helpers}}
        <li class="helper-params">
            <select class="helper-choices" name="helper-choice" data-index="{{this.index}}">
                {{selectOptions ../helperChoices selected=this.id nameAttr="key" labelAttr="label"}}
            </select>
            <input class="number-field help-dice" type="number" name="help-dice" data-index="{{this.index}}" value="{{this.count}}" data-dtype="Number"/>
            <label class="haunted-attribute-label rollable" data-index="{{this.index}}"><i class="fas fa-trash"></i></label>
        </li>
        {{/each}}
    </ul>
    <button class="adjust-button influence-roll-button">{{localize "HAUNTED.Dialogs.Roll"}}</button>
</form>