<section class="column-spacer">
  <h2>{{localize "HAUNTED.Character.Notes"}}</h2>
  {{#if editable}}
    <prose-mirror
      name="system.notes"
      button="true"
      editable="{{editable}}"
      toggled="false"
      value="{{document.system.notes}}"
    >
      {{{notesHTML}}}
    </prose-mirror>
  {{else}}
    {{{notesHTML}}}
  {{/if}}
</section>