<section>
  <nav class="tabs" data-group="{{tabs.front.group}}">
    <a
      class="item"
      data-tab="{{tabs.front.id}}"
      data-action="tab"
      data-group="{{tabs.front.group}}"
    >{{localize tabs.front.label}}</a>
    <a
      class="item"
      data-tab="{{tabs.back.id}}"
      data-action="tab"
      data-group="{{tabs.back.group}}"
    >{{localize tabs.back.label}}</a>
  </nav>
</section>