<label
  for="influence-field"
  class="clickable"
  data-action="rollAttribute"
  data-attribute="influence"
  name="system.influence"
>
  <span class="die-label">{{attribute_dice document.system.influence}}</span>
  {{localize "HAUNTED.Character.Influence"}}:
</label>
{{#if (ismurderer document.type)}}
  <span class="row-spacer"></span>
{{/if}}
<input
  id="influence-field"
  class="character-attribute-field"
  type="number"
  name="document.system.influence"
  value="{{document.system.influence}}"
  data-dtype="Number"
/>
{{#if (ismurderer document.type)}}
  <button
    class="row-spacer-sm adjust-button"
    data-action="increaseInfluence"
  >+</button>
  <span class="row-spacer-lg"></span>
{{/if}}
<label for="effort-field">{{localize "HAUNTED.Character.Effort"}}:</label>
{{#if (ismurderer document.type)}}
  <span class="row-spacer"></span>
{{/if}}
<input
  id="effort-field"
  class="character-attribute-field"
  type="number"
  name="system.effort"
  value="{{document.system.effort}}"
  data-dtype="Number"
/>