<form>
  <header class="character-header">
    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" width="72px" height="72px" />
    <h1><input type="text" name="name" value="{{actor.name}}" placeholder="Name" /></h1>
  </header>
  <section>
    <label class="attribute-name" for="system.ambition">{{localize "HAUNTED.Character.Ambition"}}:</label>
    <input type="text" name="system.ambition" value="{{system.ambition}}" data-dtype="String"/>
    {{> "systems/haunted/templates/partials/character-attributes.hbs"}}
  </section>
</form>
