<div>
  <section class="character-sheet-front">
    {{> "systems/haunted/templates/sheets/partials/character-header.hbs"}}  
    <div class="character-motive">
        <label class="attribute-label">{{localize "HAUNTED.Character.UnfinishedBusiness"}}:</label>
        <input type="text" name="system.unfinishedBusiness" value="{{document.system.unfinishedBusiness}}" data-dtype="String"/>
    </div>
    <div class="attributes">
        <label data-action="rollAttribute" class="attribute-label clickable" data-attribute="presence"><i class="fas fa-dice"></i> {{localize "HAUNTED.Character.Presence"}}:</label>
        <input class="number-field" type="number" name="system.presence.value" value="{{document.system.presence.value}}" data-dtype="Number"/>
        <label class="attribute-label">/</label>
        <input class="number-field" type="number" name="system.presence.max" value="{{document.system.presence.max}}" data-dtype="Number"/>
    </div>
  </section>
  {{> "systems/haunted/templates/sheets/partials/character-notes.hbs"}}
</div>
