<form>
  {{> "systems/haunted/templates/sheets/partials/character-header.hbs"}}
  <section>
    <div>
        <label for="system.unfinishedBusiness">{{localize "HAUNTED.Character.UnfinishedBusiness"}}:</label>
        <input type="text" name="system.unfinishedBusiness" value="{{system.unfinishedBusiness}}" data-dtype="String"/>
    </div>
    <div>
        <label data-attribute="presence" for="system.presence.value"><i class="fas fa-dice"></i> {{localize "HAUNTED.Character.Presence"}}:</label>
        <input type="number" name="system.presence.value" value="{{system.presence.value}}" data-dtype="Number"/>
        <label>/</label>
        <input type="number" name="system.presence.max" value="{{system.presence.max}}" data-dtype="Number"/>
    </div>
  </section>
  {{> "systems/haunted/templates/sheets/partials/character-notes.hbs"}}
</form>
