<div class="character-sheet">
    {{> "systems/haunted/templates/sheets/partials/character-header.hbs"}}  
    <div class="column-spacer">
        <h2>{{localize "HAUNTED.Character.UnfinishedBusiness"}}</h2>
        <input type="text" name="system.unfinishedBusiness" value="{{document.system.unfinishedBusiness}}" data-dtype="String"/>
    </div>
    <div class="column-spacer">
       <h2>{{localize "HAUNTED.Character.Attributes"}}</h2>
       <div class="row-entry">
        <label class="clickable" data-action="rollAttribute" data-attribute="presence"> <span class="die-label">{{attribute_dice document.system.presence.value}}</span> {{localize "HAUNTED.Character.Presence"}}:</label>
        <input class="row-spacer character-attribute-field" type="number" name="system.presence.value" value="{{document.system.presence.value}}" data-dtype="Number"/>
        <label class="row-spacer">/</label>
        <input class="row-spacer character-attribute-field" type="number" name="system.presence.max" value="{{document.system.presence.max}}" data-dtype="Number"/>
    </div>
    </div>
  {{> "systems/haunted/templates/sheets/partials/character-notes.hbs"}}
</div>
