<form class="haunted-sheet">
  {{> "systems/haunted/templates/sheets/partials/character-header.hbs"}}
  <section class="character-info">
    {{#if (isdefined system.problem)}}
        <div class="character-motive">
            <label class="attribute-name" for="system.problem">{{localize "HAUNTED.Character.Problem"}}:</label>
            <input type="text" name="system.problem" value="{{system.problem}}" data-dtype="String"/>
        </div>
    {{/if}}
    <div class="haunted-attributes">
      <label class="attribute-name" for="system.disposition">{{localize "HAUNTED.Character.Disposition"}}:</label>
      <select name="system.disposition" {{disabled system.disposition}}>
      {{#select system.disposition}}
        <option value="0">{{localize "HAUNTED.Disposition.Unknown"}}</option>
        <option value="1">{{localize "HAUNTED.Disposition.Adversary"}}</option>
        <option value="2">{{localize "HAUNTED.Disposition.Unfriendly"}}</option>
        <option value="3">{{localize "HAUNTED.Disposition.Conflicted"}}</option>
        <option value="4">{{localize "HAUNTED.Disposition.Friendly"}}</option>
        <option value="5">{{localize "HAUNTED.Disposition.Advocate"}}</option>
      {{/select}}
      </select>
      {{#if (gt system.disposition 0)}}
        <button class="adjust-button increase-disposition">+</button>
        <button class="adjust-button decrease-disposition">-</button>
      {{/if}}
    </div>
    {{> "systems/haunted/templates/sheets/partials/character-attributes.hbs"}}
  </section>
  {{> "systems/haunted/templates/sheets/partials/character-notes.hbs"}}
</form>
