<section class="tab {{tabs.front.id}} {{tabs.front.cssClass}}" data-tab="{{tabs.front.id}}" data-group="{{tabs.front.group}}">
<div class="character-sheet column-spacer">
    {{> "systems/haunted/templates/sheets/partials/character-header.hbs"}}
      {{#if (isdefined document.system.problem)}}
    <div class="column-spacer">
        <h2>{{localize "HAUNTED.Character.Problem"}}</h2>
        <input type="text" name="system.problem" value="{{document.system.problem}}" data-dtype="String"/>
    </div>
      {{/if}}
    <div class="column-spacer">
      <h2>{{localize "HAUNTED.Character.Attributes"}}</h2>
      <div class="row-entry">
        <div class="row-entry">
          <div>
            <label>{{localize "HAUNTED.Character.Disposition"}}:</label>
            <select name="system.disposition" {{#if (gt document.system.disposition 0)}} disabled {{/if}}>
            {{selectOptions dispositionChoices selected=document.system.disposition valueAttr="key" labelAttr="label"}}
            </select>
         </div>
          {{#if (gt document.system.disposition 0)}}
            <div class="row-spacer">
              <button class="adjust-button" data-action="increaseDisposition">+</button>
              <button class="column-spacer-sm adjust-button" data-action="decreaseDisposition">-</button>
            </div>
          {{/if}}
        </div>
        <div class="row-spacer-lg attribute-grid">
          {{> "systems/haunted/templates/sheets/partials/character-attributes.hbs"}}
        </div>
      </div>
    </div>
</div>
</section>
